.olPopupContent {
    overflow: visible !important;
    padding: 0 !important;
}
.olPopup {
    z-index: 1005 !important;
}
.olwidgetPopupContent {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 1.2em 1.2em 1.2em 1.2em;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.35);
    overflow: auto;
    padding: 10px 8px 8px;
}
.olwidgetPopupCloseBox {
    background: url("img/popup_icons.png") no-repeat scroll -80px 0 #FFFFFF;
    cursor: pointer;
    height: 0;
    overflow: hidden;
    padding-top: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
}
.olwidgetPopupCloseBox:hover {
    background-position: -64px 0;
}
.olwidgetPopupStemTL,.olwidgetPopupStemTR {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: none repeat scroll 0 0 #FFFFFF;
    z-index: 1;
}

.olwidgetPopupStemBL,.olwidgetPopupStemBR {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: none repeat scroll 0 0 #FFFFFF;
    z-index: 1;
}